
.FormAlign {
    width: 80%;
    height: 95vh;
    background-color: white;
    border-radius: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.2);
}

.Input {
    width: 40%;
    height: 6vh; 
}


