.transactionForm {
    background-color: white;
    width: 85%;
    height: 20vh;
    margin: 10px 0;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.transactionForm input {
    width: 80%;
    height: 4vh;
}

.transactionForm select {
    width: 80%;
    height: 4vh;
    text-align: center;
}